{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="content">
    <form action="{{ url_for('result') }}" method="post">
      <div class="mb-3">
        <label class="form-label" for="name">Informe seu nome:</label>
        <input class="form-input" type="text" id="name" name="name" required />
      </div>

      {% for question in quiz %}
      {% set outer_loop = loop %}
      <div class="question">

        <h2>{{question.question}}</h2>

        {% for value in question.get("all_answers") %}
        <div class="form-check mb-1">
          <input class="form-check-input" type="radio" name="question-{{ outer_loop.index }}"
            id="q-{{ outer_loop.index }}-opt-{{ loop.index }}" value="{{ value }}" required>
          <label class="form-check-label" for="q-{{ outer_loop.index }}-opt-{{ loop.index }}">
            {{ value }}
          </label>
        </div>
        {% endfor %}
      </div>

      {% endfor %}

      <div class="d-grid gap-2 mt-4">
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}